body {
  margin: 0;
  padding: 0;
  background-color: #4158D0;
  background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

.h-100 {
  height: 100vh;
}

.w-33 {
  width: 33%;
}

.w-25 {
  width: 25%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white-70 {
  color: rgba(255, 255, 255, 0.7);
}

.header, .bottomBar {
  padding: 2em;
}

.header {
  height: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bottomBar {
  height: 32px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.fleets {
  padding: 1em;
  padding-bottom: 0;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.fleets::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.fleets img {
  background-image: linear-gradient(20deg, rgba(65, 88, 208, 0.3) 0%, rgba(200, 80, 192, 0.5) 20%, rgba(255, 204, 112, 0.7) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  cursor: pointer;
  margin-right: 12px;
  border-radius: 50%;
  width: 60px;
  padding: 2px;
}

.fleets img:not(:first-of-type) {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.tweets {
  width: 100%;
  height: 48vh;
  overflow-y: scroll;
}

.tweets::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

@media (max-width: 767px) {
  .tweets {
    height: 74vh;
  }
}

.tweets .tweet {
  padding: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tweets .tweet div {
  width: 80%;
}

.tweets .tweet div h2 {
  margin: 0;
  font-size: 18px;
}

.tweets .tweet div h2 span {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.tweets .tweet div p {
  margin-top: 0;
  font-size: 14px;
}

.tweets .tweet div:first-of-type {
  width: 20%;
  margin-right: 8px;
}

.tweets .tweet div:first-of-type img {
  background-image: linear-gradient(20deg, rgba(65, 88, 208, 0.3) 0%, rgba(200, 80, 192, 0.5) 20%, rgba(255, 204, 112, 0.7) 100%);
  width: 50px;
  border-radius: 50%;
}

.tweets .tweet div .actions {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.tweets .tweet div .actions img {
  background-image: none;
  width: 16px;
}

.newTweet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.newTweet .bgNewtweet {
  cursor: pointer;
  width: 55px;
  height: 55px;
  position: relative;
  bottom: 65px;
  right: 5px;
  -webkit-transition: all .7s ease-in;
  transition: all .7s ease-in;
  background-color: rgba(21, 32, 43, 0.8);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.newTweet .bgNewtweet img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.newTweet .bgNewtweet:hover {
  background-color: #15202b;
}

.container {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2em;
  height: 70vh;
  width: 320px;
  position: relative;
  z-index: 1;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border: solid 1px rgba(223, 211, 211, 0.5);
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

@media (max-width: 767px) {
  .container {
    width: 90vw;
    height: 100vh;
  }
}

.bgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
}

.bgContainer img {
  width: 100vh;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */